# More info for headscale at https://headscale.net/stable/usage/getting-started/
# More info for headplane at https://headplane.net/introduction

services:
  headscale:
    image: docker.io/headscale/headscale:${HEADSCALE_VERSION}
    container_name: headscale
    volumes:
        # Path to your headscale config.yaml
      - ./container-config:/etc/headscale
      - ${BASE_DATA_PATH}/headscale/lib:/var/lib/headscale
      - ${BASE_DATA_PATH}/headscale/run:/var/run/headscale
    labels:
      # This label is absolutely necessary to help Headplane find Headscale.
      me.tale.headplane.target: headscale
    ports:
      - "8010:8080"
      - "9090:9090"
    networks:
      - custom
    command: serve
    healthcheck:
        test: ["CMD", "headscale", "health"]
    restart: unless-stopped

  headplane:
    image: ghcr.io/tale/headplane:${HEADPLANE_VERSION}
    container_name: headplane
    volumes:
      # Headplane config.yaml
      - ./config.yaml:/etc/headplane/config.yaml
      - ${BASE_DATA_PATH}/headplane/lib:/var/lib/headplane

      # A shared path to the Headscale config file. It is important that the
      # path you mount this on matches `headscale.config_path` in your
      # Headplane config.yaml file.
      - './container-config/config.yaml:/etc/headscale/config.yaml'

      # Read-only access to the Docker socket (or a proxy)
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "8020:3000"
    networks:
      - custom
    restart: unless-stopped