# More info at https://github.com/dani-garcia/vaultwarden/wiki

services:
  vaultwarden:
    image: vaultwarden/server:${VAULTWARDEN_VERSION}
    container_name: vaultwarden
    environment:
      - DOMAIN=your-domain.com  # Your domain; vaultwarden needs to know it's https to work properly with attachments
      - SIGNUPS_ALLOWED=${SIGNUPS_ALLOWED} # after signing up set this to false that no more users can register
      - SHOW_PASSWORD_HINT=${SHOW_PASSWORD_HINT}
      - LOG_LEVEL=info
      - TZ=${TZ}
      # - ROCKET_ENV=prod
      # - ROCKET_PORT=8080
      - LOGIN_RATELIMIT_MAX_BURST=10
      - LOGIN_RATELIMIT_SECONDS=60
      - ADMIN_RATELIMIT_MAX_BURST=10
      - ADMIN_RATELIMIT_SECONDS=60
      - ADMIN_TOKEN=${ADMIN_TOKEN}
    volumes:
      - ${BASE_DATA_PATH}/vaultwarden:/data
    ports:
      - "8050:80"
    networks:
      - custom_network
    restart: unless-stopped